*{margin: 0; padding:0}
body{
  background-color: #b22222;
  padding-top: 30vh;
}

.form-container{
  width:250px;
  height: auto;
  padding: 60px 60px;
  background: #fff; 
  border-radius: 15px;
  box-shadow: 0 0 20px 0 #000;
  margin: auto;
  position: relative;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}

.user-img{
  background:url('user.png') no-repeat;
  width: 70px;
  height: 70px;
  background-size: 100%;
  position: absolute;
  top:-40px;
  left: 110px;
}

ul.list{
  list-style-type: none;
  text-align: center;
}

ul.list li{
  width: 250px;
  margin-bottom: 15px;
}

ul.list li input{
  width: 250px;
  text-align: center;
  padding: 13px 0px;
  border: none;
  background-color: #d3d3d3;
  border-radius: 100px;
}

ul.list li input[type="button"]{
  background-color: #4690fb;
  color: #fff;
}

ul.list li:nth-child(5){
  color: red;
}

.button {
  background-color: #888;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  //background-color: #f1f1f1;
  opacity: 0.6;
}
