html {
  scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    height: 100;
    width: 100%;
    background: #d1cfcf;
    font-family: 'Bellota Text';
    font-size: 22px;
}

.splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 1;
    padding: 20px;

}
.splitscreen .right {
    flex: 1;
    padding: 20px;
}

.butt {
  height:50px;
  width:200px;
  top:20px;
}
